@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-bg text-bright font-mono;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-bg;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-muted rounded-full;
  }
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 20px currentColor;
  }
}
